.card {
  width: calc(21.5em + 4px);
  height: calc(21.5em + 4px);
  padding: 29px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  justify-content: space-between;
  border: 1px solid #e6e6e6;

  &__icon {
    width: 62px;
    height: 62px;
    border-radius: 8px;
    background-color: $blue;
    position: relative;
  }

  &--blue {
    background-color: $blue;

    div {
      color: $white;
    }

    .card__text {
      opacity: 0.6;
    }

    .card__icon {
      background-color: $white;
    }
  }

  &__title {
    color: $black;
    font-size: 22px;
    line-height: 22px;
    font-weight: 500;
  }

  &__text {
    font-size: 15px;
    line-height: 28px;
    color: $gray;
    font-weight: 300;
  }

  &__link {
    font-size: 16px;
    line-height: 15px;
    color: $black;
    font-weight: 500;
  }
}

// .card:nth-child(2) {
//   background-color: $blue;
// }
