.card {
  width: calc(21.5em + 4px);
  height: calc(21.5em + 4px);
  margin: 0px 46px;
  padding: 29px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  justify-content: space-between;
  border: 1px solid #e6e6e6;

  &__icon {
    width: 62px;
    height: 62px;
    border-radius: 8px;
    background-color: $blue;
    position: relative;
  }

  // .card:nth-child(2) > &__icon {
  //   background-color: $white;
  // }

  // .card:nth-child(2) > &__title {
  //   color: $white;
  // }

  // .card:nth-child(2) > &__text {
  //   color: $white;
  //   opacity: 0.6;
  // }

  // .card:nth-child(2) > &__link {
  //   color: $white;
  // }

  // .card:nth-child(1) > &__icon::after {
  //   content: url(../img/properties/gear.png);
  //   position: absolute;
  //   top: 25%;
  //   left: 25%;
  // }

  // .card:nth-child(1) > &__icon::before {
  //   content: url(../img/properties/arrow.png);
  //   position: absolute;
  //   top: 38%;
  //   left: 40%;
  // }

  // .card:nth-child(2) > &__icon::after {
  //   content: url(../img/properties/arrows.png);
  //   position: absolute;
  //   top: 28%;
  //   left: 28%;
  // }

  // .card:nth-child(3) > &__icon::after {
  //   content: url(../img/properties/semi_gear.png);
  //   position: absolute;
  //   top: 30%;
  //   left: 30%;
  // }

  // .card:nth-child(3) > &__icon::before {
  //   content: url(../img/properties/magnifier.png);
  //   position: absolute;
  //   top: 40%;
  //   left: 40%;
  // }

  &__title {
    color: $black;
    font-size: 22px;
    line-height: 22px;
    font-weight: 500;
  }

  &__text {
    font-size: 15px;
    line-height: 28px;
    color: $gray;
    font-weight: 300;
  }

  &__link {
    font-size: 16px;
    line-height: 15px;
    color: $black;
    font-weight: 500;
  }
}

// .card:nth-child(2) {
//   background-color: $blue;
// }
