.heiq {
  &__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 120px 0px;
  }

  &__block-images {
    width: 520px;
    height: 520px;
    position: relative;
    margin-right: 40px;
  }

  &__block-images::after {
    position: absolute;
    z-index: -1;
    content: '';
    width: 520px;
    height: 520px;
    top: -5%;
    left: -7%;
    border-radius: 50%;
    background-color: $blue;
    opacity: 0.1;
  }

  &__image--home {
    position: absolute;
    top: 0%;
    border-radius: 2px;
  }

  &__image--secondary {
    position: absolute;
    top: 50%;
    left: 30%;
    border: 2px solid #ffffff;
    border-radius: 2px;
  }

  &__block-text {
    width: 456px;
    height: 310px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-left: 40px;
  }

  &__enhanced {
    color: $blue;
    font-size: 14px;
    line-height: 18px;
    font-weight: 600;
  }

  &__title {
    color: $black;
    font-size: 26px;
    line-height: 36px;
    font-weight: 600;
  }

  &__text {
    color: #6f7074;
    font-size: 15px;
    line-height: 28px;
    font-weight: 300;
  }

  &__link {
    color: $black;
    font-size: 16px;
    line-height: 15px;
    font-weight: 500;
  }
}
