.info {
  width: auto;
  height: 751px;
  display: flex;
  justify-content: center;

  &__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  &__block-text {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    width: 497px;
    height: 500px;
  }

  &__made {
    color: $text_blue;
    font-size: 14px;
  }

  &__title {
    font-size: 44px;
    color: $text_black;
    margin-top: 13px;
    line-height: 52px;
  }

  &__text {
    font-size: 16px;
    line-height: 25px;
    color: $text_gray;
    margin-top: 15px;
  }

  &__img {
    width: 503px;
    height: 545px;
  }

  &__button {
    width: 140px;
    height: 48px;
    border-radius: 4px;
    margin-top: 20px;

    &--blue {
      background-color: #006ff9;
    }
  }

  &__button:first-child {
    color: white;
  }

  &__button:last-child {
    margin-left: 30px;
    color: $text_blue;
    border: 1px solid $text_blue;
    background-color: rgba(0, 255, 255, 0);
  }

  &__social {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-content: center;
    position: absolute;
    bottom: 0%;
    left: 0%;
  }

  &__social > img {
    margin: 0px 20px;
  }
}
