.properties {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;

  &__pattern {
    position: absolute;
    right: 0%;
    top: 50%;
  }

  &__title {
    color: $black;
    font-size: 36px;
    margin-top: 80px;
    font-weight: 600;
  }

  &__text {
    font-size: 15px;
    text-align: center;
    margin-top: 30px;
    font-weight: 300;
    line-height: 26px;
    color: #999999;
  }

  &__inner {
    display: flex;
    margin-top: 45px;
  }
}
.propertie {
  &__card {
    width: calc(21.5em + 4px);
    height: calc(21.5em + 4px);
    margin: 0px 46px;
    padding: 29px;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    justify-content: space-between;
    border: 1px solid #e6e6e6;
  }

  &__card:nth-child(2) {
    background-color: $blue;
  }

  &__card:nth-child(2) > &__icon {
    background-color: $white;
  }

  &__card:nth-child(2) > &__title {
    color: $white;
  }

  &__card:nth-child(2) > &__text {
    color: $white;
    opacity: 0.6;
  }

  &__card:nth-child(2) > &__link {
    color: $white;
  }

  &__icon {
    width: 62px;
    height: 62px;
    border-radius: 8px;
    background-color: $blue;
    position: relative;
  }

  &__card:nth-child(1) > &__icon::after {
    content: url(../img/properties/gear.png);
    position: absolute;
    top: 25%;
    left: 25%;
  }

  &__card:nth-child(1) > &__icon::before {
    content: url(../img/properties/arrow.png);
    position: absolute;
    top: 38%;
    left: 40%;
  }

  &__card:nth-child(2) > &__icon::after {
    content: url(../img/properties/arrows.png);
    position: absolute;
    top: 28%;
    left: 28%;
  }

  &__card:nth-child(3) > &__icon::after {
    content: url(../img/properties/semi_gear.png);
    position: absolute;
    top: 30%;
    left: 30%;
  }

  &__card:nth-child(3) > &__icon::before {
    content: url(../img/properties/magnifier.png);
    position: absolute;
    top: 40%;
    left: 40%;
  }

  &__title {
    color: $black;
    font-size: 22px;
    line-height: 22px;
    font-weight: 500;
  }

  &__text {
    font-size: 15px;
    line-height: 28px;
    color: $gray;
    font-weight: 300;
  }

  &__link {
    font-size: 16px;
    line-height: 15px;
    color: $black;
    font-weight: 500;
  }
}
