.reasons {
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 80px;
  }

  &__block-text {
    margin-left: 70px;
  }

  &__title {
    text-transform: capitalize;
    font-size: 36px;
    line-height: 44px;
    color: $black;
    font-weight: 600;
  }

  &__points {
  }

  &__point {
    font-size: 16px;
    color: #6f7074;
    display: flex;
    align-items: center;
    margin-top: 20px;
    line-height: 22px;
    font-weight: 300;
  }

  &__point::before {
    content: '✓';
    color: $white;
    font-size: 8px;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px 4px 3px 4px;
    margin: auto 10px auto 0px;
    background-color: $blue;
    border-radius: 50%;
  }

  &__block-images {
    position: relative;
    margin-left: 80px;
  }

  &__image--doctor {
  }

  &__image--seal {
    position: absolute;
    z-index: 2;
    top: 75%;
    right: 78%;
  }
}
