.signboard {
  width: 1110px;
  height: 327px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  position: absolute;
  border-radius: 10px;
  top: 96%;
  left: 21%;
  z-index: 5;
  &__title {
    width: 878px;
    text-align: center;
    font-size: 36px;
    line-height: 44px;
    color: $white;
  }

  &__button {
    width: 200px;
    height: 56px;
    background-color: $white;
    color: $black;
    font-size: 20px;
    justify-content: space-evenly;
    border-radius: 2px;
  }

  &__rectangle--left {
    position: absolute;
    bottom: 0%;
    left: 0%;
  }

  &__rectangle--right {
    position: absolute;
    top: 0%;
    right: 0%;
  }
}
