@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');

* {
  font-family: 'Inter', sans-serif;
}

body {
  background-color: $background;
  position: relative;
}

main {
  position: relative;
}

.container {
  width: 80%;
  margin: 0 auto;
}

#slick-slide-control01,
#slick-slide-control02 {
  background-color: $blue;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  border: 2px solid $blue;
  margin: 0px 5px;
}

#slick-slide-control00 {
  background-color: $white;
  border-radius: 50%;
  width: 11px;
  height: 11px;
  border: 2px solid $blue;
  margin: 0px 5px;
}

.slick-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.slick-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

[role='presentation'] {
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
